<div class="form-wrapper">
  <h2>Update Account Information</h2>

  <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
    <div class="form-errors">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    </div>
  <% } %>

  <form action="/account/update/" method="POST">
    <input type="hidden" name="account_id" value="<%= accountData.account_id %>">

    <label for="account_firstname">First Name</label>
    <input id="account_firstname" type="text" name="account_firstname" value="<%= accountData.account_firstname %>">

    <label for="account_lastname">Last Name</label>
    <input id="account_lastname" type="text" name="account_lastname" value="<%= accountData.account_lastname %>">

    <label for="account_email">Email</label>
    <input id="account_email" type="email" name="account_email" value="<%= accountData.account_email %>">

    <button type="submit">Update</button>
  </form>

  <h3>Update Password</h3>
  <div class="password-requirements">
    Passwords must be at least 12 characters and contain:
    <ul>
      <li>At least 1 uppercase letter</li>
      <li>At least 1 number</li>
      <li>At least 1 special character</li>
    </ul>
  </div>
  <p>*note that your original password will be changed</p>

  <form action="/account/update-password" method="POST">
    <input type="hidden" name="account_id" value="<%= accountData.account_id %>">

    <label for="account_password">New Password</label>
    <input id="account_password" type="password" name="account_password" required minlength="12">

    <button type="submit">Change Password</button>
  </form>
</div>
